<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>USerValidate</display-name>
    <servlet-name>USerValidate</servlet-name>
    <servlet-class>com.user.View.USerValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USerValidate</servlet-name>
    <url-pattern>/USerValidate</url-pattern>
  </servlet-mapping>
  <display-name>Online Course Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserValidate</display-name>
    <servlet-name>UserValidate</servlet-name>
    <servlet-class>com.user.View.UserValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidate</servlet-name>
    <url-pattern>/UserValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData</display-name>
    <servlet-name>UserData</servlet-name>
    <servlet-class>com.user.View.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/UserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.user.View.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.user.View.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
</web-app>